/* @font-face {font-family: "Harry Potter";
  src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
} */

.name {
  color: #946b2d;
  font-size: 1.8em;
  text-align: center;
}

.characters-card {
  width: 20em;
  height: 50em; 
  /* margin-top: 30%; */
  /* height: 30em; */
  /* width: 25em; */
  /* border: 0.15em solid green; */
  margin-bottom: 7em;
}

.character-poster {
  height: 20vw;
  width: 15vw;
  /* padding: 2px; */
  border:1px solid #7d5c5c; 
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 25px;
  animation: wiggle 2s linear
}



/* #borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
} */

@keyframes wiggle {

  0%,
  15% {
    transform: rotateZ(0);
  }

   30% {
    transform: rotateZ(-15deg);
  }

  50% {
    transform: rotateZ(10deg);
  }

  60% {
    transform: rotateZ(-10deg);
  }

  70% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  } 

  40%,
  180% {
    transform: rotateZ(0);
  }
}