.characters-card {
   width: 20vw;
  height: 50vh;
}
.character-poster {
  height: 20vw;
  width: 15vw;
  padding:8px;
  border:1px solid #999999; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  grid-row-gap: 60vh;
  grid-column-gap: 4vw;
  margin-top: 80px;
  margin-left: 30px;
}
