.go-back {
  height: 5em;
  /* width: 5em; */
  margin-top: 50em;
  background-color: aliceblue;
}

.details-card {
  display: flex;
  align-items: center;
  margin-top: -6em;
  margin-bottom: 5em;
}

.info-container {
  margin-left: 5em;
  font-style: oblique;
  font-size: 1.3em;
  margin-top: 3em;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A52422, 0 0 40px #A52422, 0 0 50px #A52422, 0 0 60px #A52422, 0 0 70px #A52422;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #cf7e22, 0 0 40px #cf7e22, 0 0 50px #cf7e22, 0 0 60px #cf7e22, 0 0 70px #cf7e22, 0 0 80px #cf7e22;
  }
}

.add-favorite {
  margin-top: 48em ;
  margin-left: 50em;
}

