@font-face {font-family: "Harry Potter";
  src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
}

.hogwarts {
  text-align: center;
  color: rgb(182, 163, 138);
}

h1 {
  color: #5d5d5d;
  font-family: Harry Potter, Arial;
  font-size:4em;
  transition:all 0.1s ;
  margin:0;
  margin-top: 1em;
}

h1:focus, h1:hover {
  color: rgb(131, 85, 17);
  text-shadow:
  2px 3px 0 #740001,
  4px 4px 0 #1a472a,  
  6px 5px 0 #0e1a40,
  8px  6px 0 #ecb939,
  10px 7px 0 black;
}

button {
  animation-name: my-animation;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 0; 
  margin-left: 8%;
  margin-top: 3%;
}
  
@keyframes my-animation {
  from {
    background-color: #ecb939;
    width: 90px;
    top: 40px;
  }
  to {
    background-color: #946b2d;
    ;
    width: 60px;
    top: 70px;
  }
}
 